/* Add a border to the search input when focussed. */
.search-focused {
    @apply shadow-focus;
}

/* Suggested search icons */
.suggested-search:hover img {
   transform: scale(110%);
   transition: all 200ms ease-in;
}
