<main role=" ccID="8"main" class="container">
    <h1 ccID="43" class="mt-5">About</h1>
    <p ccID="76" class="lead">OpenTexts.World is an experimental service developed to provide free access to the digitised text collections of UK libraries. Innitiated during the COVID-19 lockdown, it builds on the work of the <a ccID="289" href="https://gddnetwork.arts.gla.ac.uk/index.php/about-us/" title="link to GDD Network">GDD Network</a>.</p>

<h2 ccID="405">The problem</h2>
<p ccID="427">Want to find a particular digitized book for your research,  homework or just to read? Well, you'll need to search the collections of many libraries. First, find where the library stores information about its digitized collections on its website, then search for the book you want.</p>

<p ccID="719">Can't find the book at that library? Then you need to move onto the collection of the next library and repeat.</p>

<p ccID="840">Repeat.</p>

<p ccID="858">REPEAT!</p>

<h2 ccID="876">The opportunity</h2>

<p ccID="904">During the COVID-19 pandemic of 2020, staff at National Library of Scotland learned that school teachers were trying to source digital texts to help support their students during lockdown. Understanding the challenge that teachers were facing, staff in the Library's Digital Department decided to develop <a ccID="1212" href="https://OpenTexts.World/" title="OpenTexts.World service">OpenTexts.World</a>. 

<h2 ccID="1304">The service</h2>
<p ccID="1326">OpenTexts.World brings together, in a single search, the digitized collections of several <a ccID="1419" href="/sources" title="contributors">major UK libraries</a>. A simple search interface, retrieves brief information about digitized books and other texts, and provides users with links to  resources.</p>

<p ccID="1629">The service is based on research undertaken by the Global Digitized Data Network, an Anglo-American research collaboration, funded by the <a ccID="1770" href="https://ahrc.ukri.org/" title="AHRC">Arts and Humanities Research Council</a>.</p>

<h2 ccID="1865">The data</h2>
Metadata from contributing libraries is cleansed and processed into a common format. The data is then integrated into the <a ccID="2006" href="https://en.wikipedia.org/wiki/Apache_Solr" title="info about Apache Solr">Solr search platform</a> and made discoverable via the OpenText.World service.

<p ccID="2171">Metadata may be in <a ccID="2193" href="https://www.loc.gov/marc/bibliographic/" title="MARC21 at Library of Congress, USA">MARC21</a> or <a ccID="2300" href="/contribute" title="TSV information">TSV</a> (tab separated) format. Tools for processing other data formats are in development.</p>

</main>