<main role=" ccID="8"main" class="container">
    <h1 ccID="43" class="mt-5">Contribute data</h1>
    <p ccID="86" class="lead">
        If you would like to contribute data to be included in OpenTexts.World, please email 
        <a ccID="207" href="mailto:stuart.lewis@nls.uk; gill.hamilton@nls.uk">stuart.lewis@nls.uk and gill.hamilton@nls.uk</a>
        for details.
    </p>
	<h2 ccID="349">Formats accepted</h2>
	<p ccID="377">We can work with <a ccID="397" href="https://www.loc.gov/marc/bibliographic/" title="MARC21 at Library of Congress, USA">MARC21</a>, <a ccID="502" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/" title="DC terms">Dublin Core</a> or <a ccID="614" href<a href="https://en.wikipedia.org/wiki/Tab-separated_values" title="tab-separated value at Wikipedia">TSV</a> (tab-separated) files in the format</a> below.</p>

<p ccID="785">If your data is in another format, please <a ccID="830" href="mailto:stuart.lewis@nls.uk; gill.hamilton@nls.uk">contact us</a> as we may be able to process and integrate it. We love a challenge!</p>
    
	<h2 ccID="984">Tab-separated format</h2>
    <p ccID="1019">If you are submitting <a ccID="1044" href="https://en.wikipedia.org/wiki/Comma-separated_values">tab-separated</a> data please follow the format below. Contact us if you want to include other data/fields that are not represented in the format - we'll try and adapt our tools to accommodate your data.

    <p ccID="1318">
        Repeatable fields must be separated with a '|' pipe.
    </p>
    </p>
    
    <table ccID="1415" class="table table-striped">
        <thead ccID="1460" class="thead-dark">
            <tr ccID="1500">
                <th ccID="1522" scope=col">Column</th>
                <th ccID="1566" scope=col">Heading</th>
                <th ccID="1611" scope=col">Content</th>
                <th ccID="1656" scope=col">Requirement</th>
                <th ccID="1705" scope=col">Repeatable</th>
                <th ccID="1753" scope=col">Notes</th>
            </tr>
        </thead>
        <tbody ccID="1825">
            <tr ccID="1846">
                <th ccID="1868" scope="row">1</th>
                <td ccID="1908">organisation</td>
                <td ccID="1947">Unique name of provider</td>
                <td ccID="1997">MANDATORY</td>
                <td ccID="2033">No</td>
                <td ccID="2062">
                    So we know which organisation "owns" the metadata and content - 
                    this info might be displayed in a facet or in the full record display</br>
                    </br>
                    Wellcome Library</br>
                    University of Oxford</br>
                    University of Cambridge</br>
                    National Library of Wales</br>
                    National Library of Scotland</br>
                    Trinity College, Dublin</br>
                    The British Library</td>
            </tr>
            <tr ccID="2651">
                <th ccID="2673" scope="row">2</th>
                <td ccID="2713">idLocal</td>
                <td ccID="2747">Local identifier</td>
                <td ccID="2790">MANDATORY</td>
                <td ccID="2826">No</td>
                <td ccID="2855">
                    ID from the local system - so each library can look up their 
                    local system if there's a query 
                </td>
            </tr>
            <tr ccID="3052">
                <th ccID="3074" scope="row">3</th>
                <td ccID="3114">title</td>
                <td ccID="3146">Title of the work</td>
                <td ccID="3190">MANDATORY</td>
                <td ccID="3226">No</td>
                <td ccID="3255">
                    For example <a ccID="3293" href="https://www.loc.gov/marc/bibliographic/concise/bd245.html">MARC 245 $a $b</a> or <a ccID="3383" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/title">DC terms:title</a>
                </td>
            </tr>
            <tr ccID="3564">
                <th ccID="3586" scope="row">4</th>
                <td ccID="3626">urlMain</td>
                <td ccID="3660">URL to access the item</td>
                <td ccID="3709">MANDATORY</td>
                <td ccID="3745">No</td>
                <td ccID="3774">
                    The URL that is most appropriate for a user to follow to get direct/immediate access to the
                    content. May be in <a ccID="3932" href="https://www.loc.gov/marc/bibliographic/concise/bd856.html">MARC 856</a> or <a ccID="4016" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/identifier">DC terms:identifier</a>. This will likely be a 'landing page' containing metadata about the item and the item itself.
                </td>
            </tr>
            <tr ccID="4301">
                <th ccID="4323" scope="row">5</th>
                <td ccID="4363">year</td>
                <td ccID="4394">Year of publication</td>
                <td ccID="4440">DESIRABLE</td>
                <td ccID="4476">No</td>
                <td ccID="4505">
                    Ideally numeric <a ccID="4547" href="https://www.loc.gov/marc/bibliographic/concise/bd008a.html">MARC 008 position 7-10</a> rather than 
                    MARC 260 $c - e.g. preferred to 1884 vs ca.1884). May be in <a ccID="4737" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/date">DC terms:date</a>
                </td>
            </tr>
            <tr ccID="4916">
                <th ccID="4938" scope="row">6</th>
                <td ccID="4978">publisher</td>
                <td ccID="5014">Publisher</td>
                <td ccID="5050">DESIRABLE</td>
                <td ccID="5086">Yes</td>
                <td ccID="5116">
                    May be in <a ccID="5152" href="https://www.loc.gov/marc/bibliographic/concise/bd260.html">MARC 260 $b</a> or <a ccID="5239" href="https://www.loc.gov/marc/bibliographic/bd264.html">MARC 264 $a</a> or <a ccID="5318" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/publisher">DC terms:publisher</a>
                </td>
            </tr>
            <tr ccID="5507">
                <th ccID="5529" scope="row">7</th>
                <td ccID="5569">creator</td>
                <td ccID="5603">Creator</td>
                <td ccID="5637">DESIRABLE</td>
                <td ccID="5673">Yes</td>
                <td ccID="5703">
                    Author, editor, creator, organisation - any named person/organisation involved in the creation of the work. May be in MARC <a ccID="5852" href="https://www.loc.gov/marc/bibliographic/bd1xx.html">1xx</a>, <a ccID="5921" href="https://www.loc.gov/marc/bibliographic/bd70x75x.html">7xx</a> and <a ccID="5996" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/creator">DC terms:creator</a>, <a ccID="6127" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/contributor">DC terms:contributor</a>
                </td>
            </tr>
            <tr ccID="6320">
                <th ccID="6342" scope="row">8</th>
                <td ccID="6382">topic</td>
                <td ccID="6414">Subject or topic</td>
                <td ccID="6457">DESIRABLE</td>
                <td ccID="6493">Yes</td>
                <td ccID="6523">May be in <a ccID="6537" href="https://www.loc.gov/marc/bibliographic/bd6xx.html">MARC 6xx</a>, and <a ccID="6615" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/subject">DC terms:subject</a>
                </td>
            </tr>
            <tr ccID="6800">
                <th ccID="6822" scope="row">9</th>
                <td ccID="6862">description</td>
                <td ccID="6900">Description</td>
                <td ccID="6938">DESIRABLE</td>
                <td ccID="6974">Yes</td>
                <td ccID="7004">
                    Description about the content. May be in <a ccID="7071" href="https://www.loc.gov/marc/bibliographic/bd5xx.html">MARC 5xx</a> or <a ccID="7147" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/description">DC terms:description</a>
                </td>
            </tr>
            <tr ccID="7340">
                <th ccID="7362" scope="row">10</th>
                <td ccID="7403">urlPDF</td>
                <td ccID="7436">URL of a PDF</td>
                <td ccID="7475">OPTIONAL</td>
                <td ccID="7510">No</td>
                <td ccID="7539">
                    If there is a PDF version of the item
                </td>
            </tr>
            <tr ccID="7658">
                <th ccID="7680" scope="row">11</th>
                <td ccID="7721">urlOther</td>
                <td ccID="7756">URL of other useful version(s)</td>
                <td ccID="7813">OPTIONAL</td>
                <td ccID="7848">Yes</td>
                <td ccID="7878">
                    If there are other URLs for the content that may be useful - perhaps 
                    Google Books URL, or link to the catalogue record of the original
                </td>
            </tr>
            <tr ccID="8116">
                <th ccID="8138" scope="row">12</th>
                <td ccID="8179">urlIIIF</td>
                <td ccID="8213">URL to a IIIF manifest</td>
                <td ccID="8262">OPTIONAL</td>
                <td ccID="8297">No</td>
                <td ccID="8326">URL to a IIIF manifest</td>
            </tr>
            <tr ccID="8390">
                <th ccID="8412" scope="row">13</th>
                <td ccID="8453">placeOfPublication</td>
                <td ccID="8498">Place of publication</td>
                <td ccID="8545">OPTIONAL</td>
                <td ccID="8580">Yes</td>
                <td ccID="8610">May be in <a ccID="8624" href="https://www.loc.gov/marc/bibliographic/concise/bd260.html">MARC 260 $a</a> or <a ccID="8711" href="https://www.loc.gov/marc/bibliographic/bd264.html">MARC 264 $a</a> or <a ccID="8790" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/coverage">DC terms:coverage</a></td>
            </tr>
            <tr ccID="8959">
                <th ccID="8981" scope="row">14</th>
                <td ccID="9022">licence</td>
                <td ccID="9056">Licence of the material</td>
                <td ccID="9106">OPTIONAL</td>
                <td ccID="9141">No</td>
                <td ccID="9170">
                    May be in <a ccID="9206" href="https://www.loc.gov/marc/bibliographic/concise/bd540.html">MARC 540</a> or <a ccID="9290" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/rights">DC terms:rights</a><br ccID="9417"/>
                    <br ccID="9444"/>
                    For example CC-BY
                </td>
            </tr>
            <tr ccID="9544">
                <th ccID="9566" scope="row">15</th>
                <td ccID="9607">idOther</td>
                <td ccID="9641">Other local or external ids</td>
                <td ccID="9695">OPTIONAL</td>
                <td ccID="9730">Yes</td>
                <td ccID="9760">Other identifiers such as DOIs</td>
            </tr>
            <tr ccID="9832">
                <th ccID="9854" scope="row">16</th>
                <td ccID="9895">catLink</td>
                <td ccID="9929">A link directly to the item's catalogue record</td>
                <td ccID="10002">OPTIONAL</td>
                <td ccID="10037">No</td>
                <td ccID="10066">A link to the item in your catalogue or discovery system</td>
			</tr>
			<tr ccID="10146">
                <th ccID="10168" scope="row">17</th>
                <td ccID="10209">language</td>
                <td ccID="10244">language of the resource</td>
                <td ccID="10295">OPTIONAL</td>
                <td ccID="10330">No</td>
                <td ccID="10359">May be in MARC 008 position 35-37 and/or  MARC 041.<a ccID="10414" href="https://www.loc.gov/marc/languages/">[code list]</a> or <a ccID="10479" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/language">DC terms:language</a>.</td>
            </tr>
        </tbody>
    </table>
    
    <p ccID="10679">
        Repeatable fields are separated with a '|' pipe.
    </p>
</main>